<div class="overall_container">
  <div class="job_content">
    <div class="row">
      <div class="col-xs-6">
        <div class="job-desc"> <h3><%= "#{@job.name}"%></h3>
        </div>
        <div class="card" style="background-color: white">
          <br>
          <div class="card-description">
            <p>
              <%= "#{@job.description}" %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div><%= image_tag "#{@job.photo}", height: 300, crop: :fill %></div>
        </div>
      </div>
    </div>
    <div class="btn_container">
      <div class="book_button">
        <%= link_to "Book Now", new_job_booking_path(@job), class: "btn btn-primary" %>
      </div>
      <div class="msg_button">
        <a href="#" class="btn btn-medium">Send a Message</a>
      </div>
    </div>
  </div>

