<div class="overall_container">
  <div class="large_topmargin">
    <h1><strong>Thank you, that's all!</strong></h1>
  </div>
  <div class="large_topmargin">
     <% if policy(@booking).edit? %>
     <p>You have sucessfully confirmed lending your help to</p>
          <% else %>
        <p>You have successfully confirmed getting help with</p>

        <% end %>
  <div class="blue_font">
    <p>
      <%= @booking.job.user.email %>
    </p>
  </div>
    <p>
      on
      <%= @booking.date %>
    </p>
  </div>
    <div class="blue_font">
    <%= link_to "View other job listings", jobs_path %>
  </div>
</div>
