<div>
  <h1><strong>Thank you, that's all!</strong></h1>
  <p>You have successfully confirmed getting help with</p>
  <p>
    <%= @booking.job.user.email %>
  </p>
  <p>
    on
    <%= @booking.date %>
  </p>
</div>