<div class="message-container">
<div class="message">
  <div class="message-name">
    <% @bookings.each do |booking| %>
     <h5>
    <%= booking.user.email %>
    </h5>
    <p><%= booking.date %></p>
  </div>
  <div class="message-body">

    <p>
     <%= booking.job.description %>
    </p>
  </div>
  <div class="message-status">
    <%= booking.status %>
  </div>

  <% end %>
</div>
</div>
