.booking_form_group {
  font-family: "Lato", "sans-serif";
  font-size: 15px;
  width: 650px;
  justify-content: space-around;
  align-items: center;

  .booking_form_input {
    padding: 30px;
    padding-left: 10px;
  }

  .btn {
    font-size: 15px;
  }
}

.mx-1 {
  font-size: 14px;
  display: inline-flex;
  width: 170px;
  font-size: 14px;
}

#booking_message {
  width: 80%;
}

