.form {
  font-family: "Lato", "sans-serif";
  padding: 20px;
  display: flex;
  width: 450px;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  .form_input {
    padding-left: 10px;
  }
}
